<div class="nav">
  <p>ToDO List App</p>
</div>
<div class="main">
    <p class="heading">ToDo List</p>
    <p>Add An Item</p>
    <form class="add-div" *ngIf="check" (ngSubmit)="textAdd()" [formGroup]="addForm">
      <input type="text" placeholder="Enter An Item Name" formControlName = "textInp">
      <button class = "add-btn" type="submit">ADD</button>
    </form>
    <form class="add-div" *ngIf="!check" (ngSubmit)="textEdit()" [formGroup]="editForm">
      <input type="text" placeholder="Enter Update Item" formControlName = "editText">
      <div class="btn-div">
        <button class="update" type="submit">Update</button>
        <button class="cancel" (click)="cancelEdit()">Cancel</button> 
      </div> 
    </form>
    <div class="content">
      <div class="text" *ngFor = "let text of text, let i = index">
        <div class="check-icon" (click)="checkBox(i)">
          <i class="fa-solid fa-check check" [class.display-check-box]="checkBoxVar[i]"></i>
        </div>
        <p [class.strick-text]="checkBoxVar[i]">{{text}}</p>
        <i class="fa-solid fa-pencil icon edit" (click)="editText(i)"></i>
        <i class="fa-solid fa-trash-can icon delete" (click)="deleteText(i)"></i>
      </div>
    </div>
</div>